{% extends "base/base.html" %}

{% block title %}Añadir Estadio{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Añade un Estadio</h1>
            <form action="{% url 'nflrapp:create_estadios' %}" method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Añadir</button>
                <a href="{% url 'nflrapp:list_estadios' %}" class="btn btn-secondary">Cancelar</a>
         </form>
        </div>
    </div>
</div>
{% endblock content %}