{% extends "base/base.html" %}

{% block title %}
  Detalles del Estadio
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Estadio </h1>
            <table class="table table-hover">
                <thead>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Size</th>
                    <th>Equipo</th>
                    <th>Ciudad</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{estadio.codigo}}</td>
                        <td>{{estadio.nombre}}</td>
                        <td>{{estadio.capacidad}}</td>
                        <td>{{estadio.size}}</td>
                        <td>{{estadio.equipo.nombre}}</td>
                        <td>{{estadio.ciudad.nombre}}</td>
            
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'nflrapp:list_estadios' %}" class="btn btn-secondary">Volver a la lista de Estadios</a>
        </div>
    </div>
</div>
{% endblock content %}