{% extends "base/base.html" %}

{% block title %}Estadios{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Lista de Estadios</h1>
            <table class="table table-hover">
                <thead>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Size</th>
                    <th>Equipo</th>
                    <th>Ciudad</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    <a href="{% url 'nflrapp:create_estadios' %}" class="btn btn-success">Añadir Estadio</a>
                    {% for estadio in estadios %}
                        <tr>
                            <td>{{estadio.codigo}}</td>
                            <td>{{estadio.nombre}}</td>
                            <td>{{estadio.capacidad}}</td>
                            <td>{{estadio.size}}</td>
                            <td>{{estadio.equipo.nombre}}</td>
                            <td>{{estadio.ciudad.nombre}}</td>
                            <td>
                                <a href="{% url 'nflrapp:detail_estadios' estadio.codigo %}" class="btn btn-info">Detalles</a>
                                <a href="{% url 'nflrapp:update_estadios' estadio.codigo %}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'nflrapp:delete_estadios' estadio.codigo %}" class="btn btn-danger">Eliminar</a>
                              </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}