{% extends "base/base.html" %}

{% block title %}
 Eliminar ciudad
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>¿estas seguro que quieres eliminar esta ciudad?</h1>
            <h1>{{ciudad.nombre}}</h1>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Eliminar</button>
                <a href="{% url 'nflrapp:list_ciudades' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}