{% extends "base/base.html" %}

{% block title %}
  Detalles de ciudad
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Esta es la Ciudad </h1>
            <h2>{{ ciudad.nombre }}.</h2>
            <a href="{% url 'nflrapp:list_ciudades' %}" class="btn btn-secondary">Volver a la lista de Ciudades</a>
        </div>
    </div>
</div>
{% endblock content %}