{% extends "base/base.html" %}

{% block title %}Ciudades{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Lista de ciudades</h1>
            <table class="table table-hover">
                <thead>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    <a href="{% url 'nflrapp:create_ciudades' %}" class="btn btn-success">Añadir Ciudad</a>
                    {% for ciudad in ciudades %}
                        <tr>
                            <td>{{ciudad.codigo}}</td>
                            <td>{{ciudad.nombre}}</td>
                            <td>
                                <a href="{% url 'nflrapp:detail_ciudades' ciudad.codigo %}" class="btn btn-info">Detalles</a>
                                <a href="{% url 'nflrapp:update_ciudades' ciudad.codigo %}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'nflrapp:delete_ciudades' ciudad.codigo %}" class="btn btn-danger">Eliminar</a>
                              </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}