{% extends "base/base.html" %}

{% block title %}
  Detalles del Dueño
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Dueño </h1>
            <h2>{{ duenio.nombre }}.</h2>
            <a href="{% url 'nflrapp:list_duenios' %}" class="btn btn-secondary">Volver a la lista de Dueños</a>
        </div>
    </div>
</div>
{% endblock content %}