{% extends "base/base.html" %}

{% block title %}Ciudades{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Lista de dueños</h1>
            <table class="table table-hover">
                <thead>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    <a href="{% url 'nflrapp:create_duenios' %}" class="btn btn-success">Añadir Dueño</a>
                    {% for duenio in duenios %}
                        <tr>
                            <td>{{duenio.codigo}}</td>
                            <td>{{duenio.nombre}}</td>
                            <td>
                                <a href="{% url 'nflrapp:detail_duenios' duenio.codigo %}" class="btn btn-info">Detalles</a>
                                <a href="{% url 'nflrapp:update_duenios' duenio.codigo %}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'nflrapp:delete_duenios' duenio.codigo %}" class="btn btn-danger">Eliminar</a>
                              </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}