{% extends "base/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Welcome to the aplication of Ray's NFL</h1>
            <a href="" class="btn btn-primary btn-lg">Let's Begin!</a>
        </div>
    </div>
</div>
{% endblock content %}
