{% extends 'base/base.html' %}
{% block title %} Ciudades {% endblock title %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <th>Codigo</th>
            <th>Ciudad</th>
        </thead>
        <tbody>
            {% for ciudad in ciudads %}
                <tr>
                    <td>{{ ciudad.codigo }}</td>
                    <td>{{ ciudad.nombre }}</td>
                    <td><a href="{% url 'ciudades:pk_ciudades' ciudad.codigo %}" class="btn btn-outline-info">Detail</a></td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}