{% extends "base/base.html" %}

{% block title %}
  Detalles del Equipo
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Equipo </h1>
            <h2>{{ equipo.nombre }}</h2>
            <a href="{% url 'nflrapp:list_equipos' %}" class="btn btn-secondary">Volver a la lista de Equipos</a>
        </div>
    </div>
</div>
{% endblock content %}