{% extends "base/base.html" %}

{% block title %}Equipos{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Lista de Equipos</h1>
            <table class="table table-hover">
                <thead>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Venue</th>
                    <th>Dueño</th>
                    <th>Ciudad</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    <a href="{% url 'nflrapp:create_equipos' %}" class="btn btn-success">Añadir Equipo</a>
                    {% for equipo in equipos %}
                        <tr>
                            <td>{{equipo.codigo}}</td>
                            <td>{{equipo.nombre}}</td>
                            <td>{{equipo.venue}}</td>
                            <td>{{equipo.duenio.nombre}}</td>
                            <td>{{equipo.ciudad.nombre}}</td>
                            <td>
                                <a href="{% url 'nflrapp:detail_equipos' equipo.codigo %}" class="btn btn-info">Detalles</a>
                                <a href="{% url 'nflrapp:update_equipos' equipo.codigo %}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'nflrapp:delete_equipos' equipo.codigo %}" class="btn btn-danger">Eliminar</a>
                              </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}