{% extends "base/base.html" %}

{% block title %}
  Detalles del Jugador
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Jugador </h1>
            <table class="table table-hover">
                <thead>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Numero del Jugador</th>
                    <th>Posicion</th>
                    <th>Equipo</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{jugador.codigo}}</td>
                        <td>{{jugador.nombre}}</td>
                        <td>{{jugador.numero}}</td>
                        <td>{{jugador.posicion}}</td>
                        <td>{{jugador.equipo.nombre}}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'nflrapp:list_jugadores' %}" class="btn btn-secondary">Volver a la lista de Jugadores</a>
        </div>
    </div>
</div>
{% endblock content %}