{% extends "base/base.html" %}

{% block title %}Jugadores{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Lista de Jugadores</h1>
            <table class="table table-hover">
                <thead>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Numero del Jugador</th>
                    <th>Posicion</th>
                    <th>Equipo</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    <a href="{% url 'nflrapp:create_jugadores' %}" class="btn btn-success">Añadir Jugador</a>
                    {% for jugador in jugadores %}
                        <tr>
                            <td>{{jugador.codigo}}</td>
                            <td>{{jugador.nombre}}</td>
                            <td>{{jugador.numero}}</td>
                            <td>{{jugador.posicion}}</td>
                            <td>{{jugador.equipo.nombre}}</td>
                            <td>
                                <a href="{% url 'nflrapp:detail_jugadores' jugador.codigo %}" class="btn btn-info">Detalles</a>
                                <a href="{% url 'nflrapp:update_jugadores' jugador.codigo %}" class="btn btn-warning">Editar</a>
                                <a href="{% url 'nflrapp:delete_jugadores' jugador.codigo %}" class="btn btn-danger">Eliminar</a>
                              </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}