{% extends "base/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Welcome to the aplication of Ray's NFL</h1>
            <a href="{% url 'nflrapp:list_ciudades' %}" class="btn btn-primary btn-lg">Ciudades</a>
            <a href="{% url 'nflrapp:list_duenios' %}" class="btn btn-primary btn-lg">Dueños</a>
            <a href="{% url 'nflrapp:list_equipos' %}" class="btn btn-primary btn-lg">Equipos</a>
            <a href="{% url 'nflrapp:list_jugadores' %}" class="btn btn-primary btn-lg">Jugadores</a>
            <a href="{% url 'nflrapp:list_estadios' %}" class="btn btn-primary btn-lg">Estadios</a>




        </div>
    </div>
</div>
{% endblock content %}
