{% extends "base/base.html" %}

{% block title %}
  Lista de Equipos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'nfl:create_equipo' %}" class="btn btn-success">Crear Equipo</a>
      {% for equipo in equipos %}
        <tr>
          <td>{{ equipo.id }}</td>
          <td>{{ equipo.nombre }}</td>
          <td>{{ equipo.ciudad.nombre }}</td>
          <td>{{ equipo.duenio.nombre }}</td>
          <td>
            <a href="{% url 'nfl:detail_equipo' equipo.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'nfl:update_equipo' equipo.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'nfl:delete_equipo' equipo.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
